In [1]:
import pandas as pd

In [2]:
targetUrl = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002477494&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EC%A3%BC%ED%83%9D%EA%B8%88%EC%9C%B5%EA%B3%B5%EC%82%AC_%EC%A7%80%EC%97%AD%EB%B3%84%20PIR%20%EB%B0%8F%20LIR_20200501"

In [5]:
indata = pd.read_csv(targetUrl, encoding="ms949")
indata.tail()

,연도,월,전국(PIR),서울(PIR),부산(PIR),대구(PIR),인천(PIR),광주(PIR),대전(PIR),울산(PIR),...,세종(LIR),경기(LIR),강원(LIR),충북(LIR),충남(LIR),전북(LIR),전남(LIR),경북(LIR),경남(LIR),제주(LIR)
190,2020,1,4.47,5.44,4.84,5.16,4.39,4.76,4.52,4.11,...,2.63,2.39,1.90,1.76,1.87,1.94,1.85,1.80,2.02,2.13
191,2020,2,4.45,5.02,5.04,4.92,4.49,4.52,4.36,3.90,...,2.69,2.34,1.96,1.87,1.89,1.83,1.68,1.69,1.91,2.07
192,2020,3,4.76,5.12,5.22,5.20,4.76,5.04,4.74,4.11,...,2.22,2.56,2.13,1.98,2.03,1.97,1.89,1.95,2.23,2.27
193,2020,4,4.83,4.95,5.67,5.91,4.78,5.41,5.40,4.44,...,1.73,2.54,2.13,2.09,2.14,2.11,1.94,1.97,2.06,1.85
194,2020,5,4.56,4.88,7.01,5.44,4.56,3.16,4.72,5.77,...,0.00,2.23,2.44,1.08,1.65,1.04,1.68,1.99,2.17,0.96

In [11]:
import pandas as pd

targetUrl2 = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002336443&fileDetailSn=1&dataNm=%ED%86%B5%EA%B3%84%EC%B2%AD_%EB%82%98%EB%9D%BC%ED%86%B5%EA%B3%84_%EC%9A%B0%ED%8E%B8%EB%B2%88%ED%98%B8_20211110"

indata2 = pd.read_csv(targetUrl2, encoding = "ms949")

indata2.tail()

         우편번호  우편번호순서   도이름 시군구이름 읍면동이름 리건물이름   동호              전체주소
52538  799821      31  경상북도   울릉군    북면    나리  NaN    경상북도 울릉군 북면 나리
52539  799822      21  경상북도   울릉군    북면  천부4리  NaN  경상북도 울릉군 북면 천부4리
52540  799822      11  경상북도   울릉군    북면  천부3리  NaN  경상북도 울릉군 북면 천부3리
52541  799822       1  경상북도   울릉군    북면  나리2리  NaN  경상북도 울릉군 북면 나리2리
52542  799823       1  경상북도   울릉군    북면   현포리  NaN   경상북도 울릉군 북면 현포리

### 4. json 데이터 불러오기

In [17]:
targetUrl3 = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MzIxMjRhMjUyYmQxOTA4Y2E5OTQ5NmE1NzJlMGQxMDU=&format=json&jsonVD=Y&userStatsId=yoond395/101/DT_1B040A3/2/1/20220405102902&prdSe=M&newEstPrdCnt=1"

In [18]:
pd.read_json(targetUrl3)

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,51610695,M,0,전국,Whole country
1,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9506778,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,3343504,M,26,부산광역시,Busan
3,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2380494,M,27,대구광역시,Daegu
4,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2952699,M,28,인천광역시,Incheon
5,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1438463,M,29,광주광역시,Gwangju
6,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1450057,M,30,대전광역시,Daejeon
7,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1118010,M,31,울산광역시,Ulsan
8,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,377296,M,36,세종특별자치시,Sejong_si
9,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,13575936,M,41,경기도,Gyeonggi-do
10,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1539036,M,42,강원도,Gangwon-do
11,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1597484,M,43,충청북도,Chungcheongbuk-do
12,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2119099,M,44,충청남도,Chungcheongnam-do
13,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1782205,M,45,전라북도,Jeollabuk-do
14,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1829501,M,46,전라남도,Jeollanam-do
15,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2619641,M,47,경상북도,Gyeongsangbuk-do
16,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,3303274,M,48,경상남도,Gyeongsangnam-do
17,행정구역(시군구)별 성별 인구수,202203,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,677218,M,50,제주특별자치도,Jeju-do

### 5. xml 형태의 데이터

In [1]:
import requests
from lxml import html
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
url = "http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade?"
queryParams = "LAWD_CD=11110&DEAL_YMD=201512&serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"

In [5]:
response = requests.get(url+queryParams)
response.encoding = 'utf-8'

In [8]:
### parser가 아니라 lxml-xml 으로 변환
xmlobj = BeautifulSoup(response.text,"lxml-xml")
itemTag = xmlobj.find(name = "items")

In [10]:
itemsTag = itemTag.findAll(name = "item")

In [21]:
eachTag = itemsTag[0]
eachTag

<item><거래금액>    82,500</거래금액><거래유형> </거래유형><건축년도>2008</건축년도><년>2015</년><법정동> 사직동</법정동><아파트>광화문스페이스본(101동~105동)</아파트><월>12</월><일>10</일><전용면적>94.51</전용면적><중개사소재지> </중개사소재지><지번>9</지번><지역코드>11110</지역코드><층>11</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>

In [14]:
columns = eachTag.findAll()

In [16]:
columns[0]

In [19]:
columns[0].name

'거래금액'

In [20]:
columns[0].text

'    82,500'

In [22]:
lawCodeUrl = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002494239&fileDetailSn=1&dataNm=%EA%B5%AD%ED%86%A0%EA%B5%90%ED%86%B5%EB%B6%80_%EC%A0%84%EA%B5%AD%20%EB%B2%95%EC%A0%95%EB%8F%99_20211217"

lawCodeData =pd.read_csv(lawCodeUrl, encoding="ms949")

lawCodeList = lawCodeData.법정동코드.tolist()

In [23]:
yearList =["202201","202202","202203"]

In [ ]:
### 교수님 코드

import requests
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

baseUrl = "http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade"
inApiKey="AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"
inYmd = "201512"
inLawCode = "11110"

queryParams = '?' + urlencode(
    {
        quote_plus('ServiceKey') : inApiKey,
        quote_plus('LAWD_CD'): inLawCode,
        quote_plus('DEAL_YMD'): inYmd
     }
)